/* .adsbygoogle {
    display: none !important;
} */

html {
    background-color: #222222 !important;
    overflow-x: hidden;
}

.bff {
    position: relative;
}

.bff > span {
    cursor: pointer;
    margin-right: 10px;
    content: "";
    float: right;
    max-width: 10px;
    height: 15px;
    border-radius: 15px;
    padding: 3px 5px 2px 5px;
    font-size: smaller;
    color: transparent;
    transition: max-width 0.2s, color 0.2s;
    overflow: hidden;
}

.bff > span:hover {
    max-width: 100px;
    color: white;
}

.bff-loading {
    background: lightgray;
}

.bff-success {
    background: lightgreen;
}

.bff-warning {
    background: sandybrown;
}

.bff-error {
    background: lightcoral;
}

.betterff-overlay-btn {
    width: 30px;
    height: 30px;
}

.bff-overlay {
    background: white;
    position: fixed;
    top: 32px;
    right: 0px;
    z-index: 1000;
}

.bff-overlay.closed {
    transform: translateX(100%);
}

.bff-form-container {
    margin: 0 2rem;
    width: 75%;
}

.bff-row {
    margin: 1rem 0;
}

.bff-label {
    display: inline-block;
    width: 200px;
}

select.bff-input {
    width: 414px;
}

.bff-input {
    width: 400px;
}

.bff-search-pagination a {
    cursor: pointer;
}

#bff-search-button-hidden {
    display: none;
}

.panel {
    margin-top: 1rem;
    background: #f6f7ee;
    color: #000000;
    padding: 10px;
    border: 1px outset;
    margin-bottom: 5px;
    text-align: left;
}

.gui_error {
    color: red;
}

.gui_warning {
    color: #e56717;
}

.gui_success {
    color: green;
}
